.signUpComponentDesktop {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.leftMyMedsSection {
    height: 100vh;
    width: 33vw;
    background: #512cc3;
    display: flex;
    align-items: center;
}

.rightMyMedsSection {
    height: 100vh;
    width: 67vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signUpBtn {
    width: 100%;
    background: #512cc3;
    border-color: #512cc3;
}

/*Sign Up Mobile*/

.signUpContentMobile {
    height: 90vh;
}

.signUpContainerMobile {
    background: white;
    height: 65vh;
    border-radius: 10px;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}

.signUpInputsMobile {
    position: relative;
    top: 5vh;
}