.signInContent {
    height: 90vh;
}
  
.signInContainer {
    background: white;
    height: 50vh;
    border-radius: 10px;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}

.googleBtn {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-right: 2vw !important;
}

.facebookBtn {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    color: rgba(0, 0, 0, 0.54);
    box-shadow: rgb(0 0 0 / 24%) 0px 2px 2px 0px, rgb(0 0 0 / 24%) 0px 0px 1px 0px;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid transparent;
    font-size: 14px;
    font-weight: 500;
    font-family: Roboto, sans-serif;
    width: 100%;
    margin-top: 4%;
}

.fa-facebook {
    color: #2962ff;
    padding-right: 6%;
    font-size: 20px !important;
}

.signInSubmit {
    width: 100%;
    background: #512cc3;
    border-color: #512cc3;
}

.signInHeader {
    font-weight: 800;
    font-size: 1.2rem;
    color: #403737e3;
}

.signInSubHeader {
    font-size: .9rem;
}

.userInputs {
    position: relative;
    bottom: 3vh;
}

.signInLink {
    font-weight: 600;
}