.signInContent {
    height: 90vh;
}
  
.signInContainer {
    background: white;
    height: 50vh;
    border-radius: 10px;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}

.signInSubmit {
    width: 100%;
}