.viewPtMedsButton {
    border-radius: 15px;
    background-color: white;
    padding: 5px;
    font-size: 10px;
    font-weight: 600;
    border: 2px solid
}

.viewPtMedsButton:hover {
    text-decoration: none;
    background-color: rgb(133, 32, 158);
    color: white
}

.ptRow:hover {
    background-color: rgba(226, 222, 222, .6);
}

.ptName {
    color: #53525e;
    text-align: center;
}

.userPic {
    max-width: 73%;
}