.siteLink {
    padding: 0vh 1vw;
}

.siteLinks {
    position: relative;
    left: 8vw;
}

@media screen and (max-width: 750px) {
    .siteLinks {
        left: 4vw;
    }
}

.navBarComponent { 
    height: 10vh;
}