.siteLink {
    padding: 0vh 1vw;
    color: black;
    font-weight: 600;
}

.siteLinks {
    position: relative;
    left: 5vw;
}

@media screen and (max-width: 750px) {
    .siteLinks {
        left: 5vw;
    }
}

.navBarComponent { 
    height: 10vh;
}

.returnBtn {
    display: flex;
    flex-direction: row;
    color: blueviolet;
}

.returnBtn:hover {
    font-weight: 600;
    cursor: pointer;
}

.returnBtnIcon {
    display: flex;
    align-items: center;
}

.returnBtnText {
    margin-left: 10%;
    font-size: 1rem;
}